h1, h3, div, span, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}


body {
    max-width: 10rem;
    min-width: 4.266667rem;
    margin: 0 auto;
}

/* .w {
    width: 100%;
    margin: 0 auto;
} */
.head { 
    color: red;
    font-size: .4rem;
    margin: 1.066667rem 0 .266667rem;
    text-align: center;
}

.daohang{
    width: 100%;
    display: flex;
    margin-bottom: .666667rem;
}
.daohang span {
    display:flex;
    justify-content: center;
    flex: 25%;
}
.daohang span a {
    display: inline-block;
    width: 80%;
    height: .666667rem;
    line-height: .666667rem;
    font-size: .266667rem;
    text-align: center;
    background-color: #f6f9fc;
    text-decoration: none;
    border-radius: .133333rem;
}
.daohang span a:hover {

    background-color: skyblue;
}


.juzhong {
    width: 100%;
}